<p><%= t('views.user.show.hi') %> <%= @user.email %></p>
<p><b><%= t('views.user.show.your_email') %></b> <%= @user.email %></p>

<br>

<p><%= link_to t('views.user.show.edit_profile'), edit_user_path(@user) %></p>