<h1>Карточки</h1>

<table>
  <thead>
  	<tr>
	  <th>На английском</th>
	  <th>На русском</th>
	  <th>Последняя проверка</th>
    <th></th><th></th>
  	</tr>
  </thead>

  <tbody>
  	<% @cards.each do |card| %>
  	  <tr>
        <td><%= image_tag card.image.url(:thumb) %></td>
  	    <td><%= card.original_text %></td>
  	    <td><%= card.translated_text %></td>
  	    <td><%= formated_time(card.review_date) %></td>
        <td><%= link_to 'Изменить', edit_card_path(card) %></td>
        <td><%= link_to 'Удалить', card, method: :delete %></td>
  	  </tr>
  	<% end %>
  </tbody>
</table>

<%= paginate @cards %>